/* font-family: "Poppins", serif;
   font-family: "Playfair Display", sans-serif; */

:root {
  --branding-color: #a594f9;
  --secondary-color: #ffb38e;
  --header-font-family: "Playfair Display", sans-serif;
  --para-font-family: "Poppins", serif;
}

body {
  font-family: var(--para-font-family);
}

h1,
h2,
h3 {
  color: black;
  font-family: var(--header-font-family);
  font-weight: bold;
}

p {
  font-weight: normal;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--header-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: #604d4d;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color) !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  line-height: 27px !important;
  padding: 15px 30px !important;
}
